
html {
  background-color:rgb(201, 201, 201);
}

* {
  box-sizing: border-box;
}

/* Animations */ 
.animation {
  animation: anim 4s infinite alternate;
}

@keyframes anim {
  from {
      background-position: 0%;
  }
  to {
      background-position: 100%;
  }
}

/* Header */
header, footer {
  background: linear-gradient(135deg,#24292a, #212f2f, #000000, #161717, #171717);
  background-size: 400%;
  font-family: Geneva, Verdana, sans-serif;
  color: #2a393a;
}

header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

/* Footer */
footer {
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 5%;
}

footer > div{
  font-size: 150%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Body */
  
  .menu {
    background: linear-gradient(135deg,#24292a, #212f2f, #000000, #161717, #171717);
    border-radius: 0px 25px 25px 0px;
    background-size: 400%;
    float: left;
    width: 20%;
    height: 540px;
    text-align: center;
    margin: 10px 0px 10px 0px;
  }
  
  .menu a {
    padding: 5vh;
    display: block;
    width: 100%;
    height: 25%;
    color: #4f6462;
    border-radius: 25px 10px;
    
  }

  .menu a:hover {
    background-color: #232b2a;
    color: white;
  }
  
  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
    color: #4f6462;
  }

  .main > h2 , h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 110%;
  }
  
  .right {
    background: linear-gradient(135deg,#24292a, #212f2f, #000000, #161717, #171717);
    background-size: 400%;
    border-radius: 25px 0px 0px 25px;
    float: left;
    width: 20%;
    padding: 15px;
    margin: 7px 00px 0px 0px;
    text-align: center;     
    color: #4f6462;
  }
  
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
      height: 1%;
      border-radius: 0px;
      margin-bottom: 10px;
    }
}

/* Author Image Container */

.container {
  position: relative;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border-color: #2a393a;
  box-shadow: 2px 0.5px 8px 5px #4399993a, 2px 1.5px 4px 2px #283030;
  margin-bottom: 35px;
}

.authorImage {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(135deg,#24292a, #212f2f, #000000, #161717, #171717);
  animation: anim 4s infinite alternate;
  background-size: 400%;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  border-radius: 5px;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap; 
  color: rgb(47, 59, 60);
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .text {
    font-size: 100%;
  }
}

/* Typewriter Animation Effect */

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(41, 52, 54); /* The typwriter cursor */
  white-space: wrap;
  letter-spacing: .20em; /* Adjust as needed */
  animation: 
    typing 5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@media only screen and (min-width: 620px) {
  
  .typewriter {
    white-space: nowrap;
  }

}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(156, 235, 215) }
}

/* Links */
a {
  text-decoration: none;
}

a:visited { 
  text-decoration: none; 
  color: rgb(47, 59, 60); 
 }

 #more {
  color: rgb(156, 235, 215);
 }