
.home {
    display: flex;
    flex-direction: column;
}

/* Hero Section ======================================================================*/
.hero {
    background-color: var(--medium-gray);
    display: flex;
    align-items: center;
    padding: 2rem;
    width: 100%;
    justify-content: center;
    margin-top: 10em;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70vw;
    height: auto;
    align-items: center;
}

#tags, #at {
    color: var(--yellow);
}

.hero-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:start;
}

.arrow {
    display: flex;
    justify-content: center;
}

.arrow a img {
    width: 5em;
}

#up-arrow {
    margin-bottom: 2vw;
}

.hero-info h2:nth-child(1), h1 {
color: #FFFF;
}

.hero-info h1 {
    font-weight: bolder;
    font-size: 7vw;
}

.hero-info h1:hover {
    color: var(--yellow);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    transform: translateY(-4%);
    left: calc((var(--n) - 1) * 25%);
}

.hero-info h2 {
    font-size: 3vw;
}

.hero-info h2:nth-child(3) {
    color: var(--yellow);
}

.hero-info span {
    color: #6DFF6A;
}

.hero-info p {
    font-size: 10em;
}

.hero-img {
    border-width: 3px;
    border-radius: 50%;
    border-color: var(--yellow);
}
.hero-img img {
    border-radius: 50%;
    width: 60vw;
    height: 30vw;
}

.hero-btns button {
    background-color: var(--medium-gray);
    border-radius: 15px;
    padding: 1em 3em;
    width: 15vw;
    margin-top: 2em;
    font-size:1vw;
    font-weight: bold;
}

.hero-btns button:nth-child(1) {
    margin-right: 2em;
}

@media only screen and (max-width: 850px) {

    .hero {
        justify-content: center;
    }
    .hero-info {
        text-align: center;
    }

    .hero-info h2 {
        font-size: 1em;
    }

    .hero-info h3 {
        font-size: 0.5em;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .hero-img {
        margin-top: 2em;
    }

    .hero-img img {
            border-radius: 50%;
            width:15em;
            height: 15em;
    }

    .hero-info p {
        font-size: 0.5em;
    }

    .hero-btns button {
        background-color: var(--medium-gray);
        border-radius: 15px;
        padding: 1em 3em;
        width: 200px;
        margin-top: 2em;
        font-size: 0.5em;
    }

    .arrow a img {
        width: 3em;
    }

}

@media only screen and (min-width: 850px) {
    .hero-info h1 {
        font-weight: bolder;
        font-size: 4vw;
    }

    .hero-info h2 {
        font-size: 1.5vw;
    }

    .hero-info p {
        font-size: 1vw;
    }

    .hero-img {
        margin-left: 20px;
    }

}

@media only screen and (min-width: 300px) {
    .hero-info h1 {
        font-size: 3em;
    }

    .hero-info h2 {
        font-size: 1.5em;
    }

    .hero-info p {
        font-size: 1em;
    }
}

@media only screen and (max-width: 300px) {

 
    .hero-img img {
        width: 100vw;
        height: 50vw;
    }

    .hero-btns button {
        width: 20em;
        font-size: 0.3em;
    }


}


div button {
    color: var(--yellow);
    border: 0.3em solid var(--yellow);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 2s;
}

div button span {
    position: absolute;
    width: 50%;
    height: 80%;
    background-color: var(--yellow);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.8s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

div button:hover {
    color: black;
}

div button:hover span {
    transform: translateY(0) scale(2);
}

div button span:nth-child(1) {
    --n: 1;
}

div button span:nth-child(2) {
    --n: 2;
}

