/* This file is used to add style onto the website */

/* Imports
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Inter");

:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

/* Colors: CSS Hex (Coolors.com) 252930
   ========================================================================== */
:root {
  --yellow: #2f2c27;
  --dark-gray: #23201b;
  --medium-gray: #f0eae3;
  --light-gray: rgb(210, 204, 195);
  --clear-yellow: #f0eae3;
  --light-brown: rgb(113, 108, 102);
}

/* General ========================================================================== */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--yellow);
}

body {
  margin: 0;
  display: block;
  background: var(--medium-gray) !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Inter";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}

a:visited,
a:active,
a:link {
  text-decoration: none;
  color: var(--medium-gray);
  cursor: pointer;
}

p {
  color: var(--yellow);
}

.markup-dark {
  color: var(--medium-gray);
  font-weight: bolder;
}

.markup-light {
  color: var(--yellow);
  font-weight: bolder;
}
